JANDI_USERNAME  ='hy.hwang@okestro.com'
JANDI_PASSWORD  ='aq175312#$'
JANDI_DOWNLOAD='d:\workspaces\node\jandi\temp'
JANDI_IGNORE_TOPICS='[오케스트로], 잔디 사용법'
JANDI_IGNORE_CHATS='JANDI (나와의 대화)'
JANDI_HEADLESS='false'
JANDI_VERVOSE='true'
